 /* ============================================================
   Project: NSS Exercise
   Author:  Nathan T. Baker
   ============================================================ */

/* ===GLOBAL=== */

body {
  background-color: #ddd;
  min-width: 500px;
}

.container {
  background-color: #f4f3ed;
  border-radius: 0 0 10px 10px;
  padding: 10px 20px 20px 20px;
  border: #ccc 1px solid;
  box-shadow: 1px 2px 5px #ccc;
}

input {
  height: 40px;
  font-size: 1.3em;
  padding: 10px;
  margin: 10px 0;
}

output {
  padding: 20px;
}

/* ===FAMOUS PEOPLE=== */

.person-row {
  padding: 20px 0;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 1px 2px 5px #ccc;
}

img {
  width: 100%;
  margin: 0;
  padding: 0;
}

image {
  margin: 0;
  padding: 0;
}

img, name, age, bio {
  display: block;
  border-radius: 5px;
}

name {
  font-size: 3em;
  line-height: 2em;
}

age {
  font-size: 1.3em;
  color: grey;
}

bio {
  font-size: 1.5em;
}

/* ===Alternating Rows=== */

/*Each odd famous person element is blue, and even yellow*/

.person-row:nth-child(odd) {
    background-color: lightblue;
}

.person-row:nth-child(even) {
    background-color: lightyellow;
}

/* ===SIDEBAR=== */
/* ===FOOTER=== */